<footer class="w-full h-16 bg-paletteD-two shadow-2xl drop-shadow-2xl">
  <div class="grid grid-cols-2 gap-4 w-full h-full text-paletteD-four">
    <div class="flex justify-center items-center">
      <div class="flex flex-row w-1/2 justify-around items-center">
        <fa-icon
          class="transition duration-300 text-paletteD-four hover:text-paletteD-three transform delay-150 hover:scale-125 ease-in-out cursor-pointer"
          [icon]="faGithub"
          size="lg"
        ></fa-icon>
        <fa-icon
          class="transition duration-300 text-paletteD-four hover:text-paletteD-three transform delay-150 hover:scale-125 ease-in-out cursor-pointer"
          [icon]="faLinkedin"
          size="lg"
        ></fa-icon>
        <fa-icon
          class="transition duration-300 text-paletteD-four hover:text-paletteD-three transform delay-150 hover:scale-125 ease-in-out cursor-pointer"
          [icon]="faInstagram"
          size="lg"
        ></fa-icon>
      </div>
    </div>
    <div class="flex justify-center items-center cursor-default">
      <p>
        this proyect was created by
        <a href="https://imeagleangel.com">@imeagleangel</a> with MEAN Stack
      </p>
    </div>
  </div>
</footer>
